@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.7rem;
}
